
Lanchonete T92/obj/Debug/Lanchonete T92.csproj.GenerateResource.cache
Lanchonete T92/obj/Debug/Lanchonete T92.csproj.AssemblyReference.cache
Lanchonete T92/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Lanchonete T92/v16/.suo
Lanchonete T92/obj/Debug/Lanchonete T92.csproj.GenerateResource.cache
Lanchonete T92/obj/Debug/Lanchonete T92.csproj.AssemblyReference.cache
Lanchonete T92/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Lanchonete T92/v16/.suo
